USE [master]
GO
/****** Object:  Database [AdvokatOffice]    Script Date: 24.03.2026 1:11:12 ******/
CREATE DATABASE [AdvokatOffice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdvokatOffice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AdvokatOffice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AdvokatOffice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AdvokatOffice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdvokatOffice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdvokatOffice]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 24.03.2026 1:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PickupAddress] [nvarchar](200) NOT NULL,
	[PickupTime] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24.03.2026 1:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 24.03.2026 1:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.03.2026 1:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [ServiceId], [OrderDate], [PaymentMethod], [PaymentStatus], [PickupAddress], [PickupTime], [Status], [Notes]) VALUES (1, 2, 1, CAST(N'2026-03-19T00:02:26.080' AS DateTime), N'Cash', N'Оплачено', N'г. Москва, ул. Ленина, д. 10, офис 5', CAST(N'2026-03-19T01:02:26.080' AS DateTime), N'Выполнен', NULL)
INSERT [dbo].[Orders] ([Id], [UserId], [ServiceId], [OrderDate], [PaymentMethod], [PaymentStatus], [PickupAddress], [PickupTime], [Status], [Notes]) VALUES (2, 2, 3, CAST(N'2026-03-22T00:02:26.080' AS DateTime), N'Card', N'Оплачено', N'г. Москва, ул. Ленина, д. 10, офис 5', CAST(N'2026-03-22T01:02:26.080' AS DateTime), N'Выполнен', NULL)
INSERT [dbo].[Orders] ([Id], [UserId], [ServiceId], [OrderDate], [PaymentMethod], [PaymentStatus], [PickupAddress], [PickupTime], [Status], [Notes]) VALUES (3, 2, 1, CAST(N'2026-03-24T00:09:03.350' AS DateTime), N'Cash', N'Оплачено', N'г. Москва, ул. Ленина, д. 10, офис 5', CAST(N'2026-03-24T01:09:03.350' AS DateTime), N'Отменён', N'Оплата Cash')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Администратор')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name], [Description], [Price], [Duration]) VALUES (1, N'Первичная консультация', N'Консультация адвоката по вашему вопросу (30 минут)', CAST(3000.00 AS Decimal(18, 2)), 30)
INSERT [dbo].[Services] ([Id], [Name], [Description], [Price], [Duration]) VALUES (2, N'Составление искового заявления', N'Составление искового заявления любой сложности', CAST(5000.00 AS Decimal(18, 2)), 120)
INSERT [dbo].[Services] ([Id], [Name], [Description], [Price], [Duration]) VALUES (3, N'Представительство в суде', N'Представительство интересов в судебном заседании', CAST(10000.00 AS Decimal(18, 2)), 180)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password], [FullName], [Phone], [Email], [RoleId]) VALUES (1, N'admin', N'admin123', N'Администратор Системы', N'+7 (999) 123-45-67', N'admin@advokat.ru', 2)
INSERT [dbo].[Users] ([Id], [Login], [Password], [FullName], [Phone], [Email], [RoleId]) VALUES (2, N'ivanov', N'pass123', N'Иван Иванов', N'+7 (916) 123-45-67', N'ivanov@mail.ru', 1)
INSERT [dbo].[Users] ([Id], [Login], [Password], [FullName], [Phone], [Email], [RoleId]) VALUES (3, N'petrov', N'pass456', N'Петр Петров', N'+7 (915) 987-65-43', N'petrov@mail.ru', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F66933B194]    Script Date: 24.03.2026 1:11:13 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B158E05B2]    Script Date: 24.03.2026 1:11:13 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Оплачено') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Ожидает') FOR [Status]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((60)) FOR [Duration]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Services]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Отменён' OR [Status]='Выполнен' OR [Status]='Ожидает'))
GO
USE [master]
GO
